.section {
    max-width: 1574px;
    margin: 0 auto;

    text-align: center;
}

.title {
    font-weight: 700;
    font-size: 180px;
    line-height: 115%;

    color: rgba(20, 30, 30, 1);
    text-transform: uppercase;
    margin-bottom: 100px;
}


.advantages {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 105px 150px;

    margin-bottom: 175px;
}

.card {

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    gap: 1px;
    max-width: 331px;
    color: var(--white);
}

.cardTitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 115%;
}

.desc {
    justify-self: flex-end;
    font-weight: 400;
    font-size: 18px;
    line-height: 115%;
}

.designedTo {
    position: relative;
    background: rgba(56, 92, 95, 0.3);
    box-shadow: inset 1px 1px 4px #4FFFCA;
    backdrop-filter: blur(20px);

    border-radius: 8px;
    padding: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    color: var(--white);
    z-index: 1;

    margin-bottom: 70px;

}

.unitexTitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
}

.unitexItems {
    display: flex;
}

.item {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 115%;
    text-transform: uppercase;
    padding: 10px 15px;
    color: var(--text-color);
}

.item:not(:last-child) {
    padding-right: 15px;
    border-right: 1px solid var(--text-color);
}