.partners {
    max-width: 1574px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto 83px;
}

.title {
    font-weight: 700;
    font-size: 180px;
    line-height: 115%;

    color: rgba(20, 30, 30, 1);
    text-transform: uppercase;
    margin-bottom: 71px;
}